/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

# Special for our assets stuff!
/web/assets-built

# These next 2 are debated, and are often added to the repository
/node_modules
/web/assets/vendor
/.sass-cache
/assets/css
!/assets/css/README.txt
