.events {
    width:500px;
    margin:50px auto;
}

.events article {
    margin-bottom:20px;
    float:left;
    width:100%;
}

.events article .map-container {
    float:left;
    width:150px;
    height:150px;
    overflow:hidden;
    background:#fff;
    border:4px solid #fff;

    -webkit-border-radius:75px;
       -moz-border-radius:75px;
            border-radius:75px;
    -webkit-box-shadow:0px 0px 5px #ccc;
            box-shadow:0px 0px 5px #ccc;
}

.events article .map-container img {
    width:150px;
    height:150px;

    -webkit-border-radius:75px;
       -moz-border-radius:75px;
            border-radius:75px;
}

.events article section {
    margin-top:22px;
    width:315px;
    min-height:94px;
    padding:10px;
    float:right;
    background:#fff;
    position:relative;

    -webkit-border-radius:5px;
           -moz-border-radius:5px;
                border-radius:5px;

    -webkit-box-shadow:0px 0px 2px #ccc;
            box-shadow:0px 0px 2px #ccc;
}

.events article section:after {
    content:'';
    display:block;
    position:absolute;
    z-index:1;

    top:35px;
    left:0px;

    width:30px;
    height:40px;
    background:#fff;
}

.events article section:before {
    content:'';
    display:block;
    position:absolute;
    z-index:1;

    top:40px;
    left:-15px;

    width:30px;
    height:30px;
    background:#fff;

    -webkit-transform:rotate(-45deg);
       -moz-transform:rotate(-45deg);
            transform:rotate(-45deg);

    -webkit-box-shadow:0px 0px 2px #ccc;
            box-shadow:0px 0px 2px #ccc;
}

.events article section * {
    z-index:2;
    position:relative;
}

.events article section h3 {
    margin:0px;
    padding:0px;
    padding-bottom:5px;
    border-bottom:1px solid #eee;
}

.events article section h3 a {
    color:#666666;
    font-family:Tahoma;
    font-weight:normal;
    font-size:20px;
    text-decoration:none;

    display:block;
    height:28px;

    background:url(../images/pinpoint.png) no-repeat -5px 0px;
    padding-left:30px;
    padding-top:2px;
}

.events article section h3 a:hover {
    color:#260907;
}

.events article section dl {
    margin-top:8px;
    margin-bottom:0px;
    font-family:Tahoma;
    font-size:12px;
}

.events article section dl dt {
    width:60px;
    float:left;
    font-weight:bold;
    margin-bottom:3px;
}

.events article section dl dd {
    width:440px;
    margin-left:60px;
    margin-bottom:3px;
}
