{% extends 'EventBundle::layout.html.twig' %}

{% block body %}

    <section class="events">
        <header id="menu">
            <a class="button" href="{{ path('event_new') }}">Create new event</a>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="link" href="{{ path('logout') }}">Logout {{ app.user.username }}</a>
            {% else %}
                <a class="link" href="{{ path('login') }}">Login</a>
            {% endif %}
        </header>

        {% include 'EventBundle:Event:_events.html.twig' %}
    </section>
{% endblock %}
